* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: linear-gradient(to right, #08C2FF, #A0DEFF);
    color: white;
}

.logo {
    font-family: "droog", sans-serif;
    font-weight: 900;
    font-style: normal;
    
}

.primeira-palavra, .restante {
    display: block;
    color: #08C2FF;

}

/* Botões de navegação no Header */
.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    background-color: #00A2FF;
    border: 2px solid #FFEB3B;
    color: #FFF;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 20px;
}

/* Menu de navegação */
nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: linear-gradient(to right, #08C2FF, #A0DEFF);
}

nav a {
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}


/* Banner em destaque */
.highlight img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 20px;
}

/* Barra de Pesquisa */
.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 2px solid #DDD;
}

.search-bar input[type="text"],
.search-bar input[type="date"] {
    padding: 10px;
    border: 1px solid #fff100;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
}

/* Seções de Eventos */
.events {
    padding: 20px;
}

.events h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.event-card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.event-card p {
    margin: 10px 0;
    color: #333;
    font-size: 14px;
}
